[submodule "libraries/helpers/example"]
	path = libraries/helpers/example
	url = https://github.com/tannewt/CircuitPython_Example.git
[submodule "libraries/drivers/hcsr04"]
	path = libraries/drivers/hcsr04
	url = https://github.com/mmabey/CircuitPython_HCSR04.git
[submodule "libraries/drivers/adafruit_soundboard"]
	path = libraries/drivers/adafruit_soundboard
	url = https://github.com/mmabey/Adafruit_Soundboard.git
[submodule "libraries/helpers/dotstar_featherwing"]
	path = libraries/helpers/dotstar_featherwing
	url = https://github.com/dastels/circuitPython_dotstar_featherwing.git
[submodule "libraries/helpers/nonblocking_timer"]
	path = libraries/helpers/nonblocking_timer
	url = https://github.com/Angeleno-Tech/nonblocking_timer.git
[submodule "libraries/drivers/sh1106"]
	path = libraries/drivers/sh1106
	url = https://github.com/winneymj/CircuitPython_SH1106
[submodule "libraries/drivers/slight_tlc5957"]
	path = libraries/drivers/slight_tlc5957
	url = https://github.com/s-light/slight_CircuitPython_TLC5957.git
[submodule "libraries/drivers/tmp75"]
	path = libraries/drivers/tmp75
	url = https://github.com/barbudor/CircuitPython_TMP75.git
[submodule "libraries/drivers/ina3221"]
	path = libraries/drivers/ina3221
	url = https://github.com/barbudor/CircuitPython_INA3221.git
[submodule "libraries/drivers/qwiicjoystick"]
	path = libraries/drivers/qwiicjoystick
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicJoystick.git
[submodule "libraries/drivers/qwiicrelay"]
	path = libraries/drivers/qwiicrelay
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicRelay.git
[submodule "libraries/drivers/qwiictwist"]
	path = libraries/drivers/qwiictwist
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicTwist.git
[submodule "libraries/drivers/qwiickeypad"]
	path = libraries/drivers/qwiickeypad
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicKeypad
[submodule "libraries/drivers/qwiicas3935"]
	path = libraries/drivers/qwiicas3935
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicAS3935.git
[submodule "libraries/drivers/lis2dh12"]
	path = libraries/drivers/lis2dh12
	url = https://github.com/electronut/Electronutlabs_CircuitPython_LIS2DH12.git
[submodule "libraries/drivers/ltr329als01"]
	path = libraries/drivers/ltr329als01
	url = https://github.com/electronut/Electronutlabs_CircuitPython_LTR329ALS01.git
[submodule "libraries/drivers/ili9163"]
	path = libraries/drivers/ili9163
	url = https://github.com/electronut/Electronutlabs_CircuitPython_ILI9163
[submodule "libraries/drivers/serlcd"]
	path = libraries/drivers/serlcd
	url = https://github.com/fourstix/Sparkfun_CircuitPython_SerLCD.git
[submodule "libraries/helpers/ifttt"]
	path = libraries/helpers/ifttt
	url = https://github.com/benevpi/CIRCUITPYTHON_ifttt.git
[submodule "libraries/drivers/nrf24l01"]
	path = libraries/drivers/nrf24l01
	url = https://github.com/2bndy5/CircuitPython_nRF24L01.git
[submodule "libraries/drivers/i2cencoderlibv21"]
	path = libraries/drivers/i2cencoderlibv21
	url = https://github.com/bwshockley/CircuitPython-i2cEncoderLibV21.git
[submodule "libraries/drivers/mitutoyo"]
	path = libraries/drivers/mitutoyo
	url = https://github.com/vifino/CircuitPython-mitutoyo.git
[submodule "libraries/helpers/base64"]
	path = libraries/helpers/base64
	url = https://github.com/jimbobbennett/CircuitPython_Base64
[submodule "libraries/helpers/HMAC"]
	path = libraries/helpers/HMAC
	url = https://github.com/jimbobbennett/CircuitPython_HMAC
[submodule "libraries/helpers/parse"]
	path = libraries/helpers/parse
	url = https://github.com/jimbobbennett/CircuitPython_Parse
[submodule "libraries/helpers/AzureCustomVision_Prediction"]
	path = libraries/helpers/AzureCustomVision_Prediction
	url = https://github.com/jimbobbennett/CircuitPython_AzureCustomVision_Prediction
[submodule "libraries/helpers/gamblor21_ahrs"]
	path = libraries/helpers/gamblor21_ahrs
	url = https://github.com/gamblor21/Gamblor21_CircuitPython_AHRS.git
[submodule "libraries/drivers/dynamixel"]
	path = libraries/drivers/dynamixel
	url = https://github.com/hierophect/Circuitpython_Dynamixel.git
[submodule "libraries/drivers/ltr559"]
	path = libraries/drivers/ltr559
	url = https://github.com/pimoroni/Pimoroni_CircuitPython_LTR559.git
[submodule "libraries/helpers/udecimal"]
	path = libraries/helpers/udecimal
	url = https://github.com/jepler/Jepler_CircuitPython_udecimal.git
