[submodule "libraries/helpers/example"]
	path = libraries/helpers/example
	url = https://github.com/tannewt/CircuitPython_Example.git
[submodule "libraries/drivers/hcsr04"]
	path = libraries/drivers/hcsr04
	url = https://github.com/mmabey/CircuitPython_HCSR04.git
[submodule "libraries/drivers/adafruit_soundboard"]
	path = libraries/drivers/adafruit_soundboard
	url = https://github.com/mmabey/Adafruit_Soundboard.git
[submodule "libraries/helpers/dotstar_featherwing"]
	path = libraries/helpers/dotstar_featherwing
	url = https://github.com/dastels/circuitPython_dotstar_featherwing.git
[submodule "libraries/helpers/nonblocking_timer"]
	path = libraries/helpers/nonblocking_timer
	url = https://github.com/Angeleno-Tech/nonblocking_timer.git
[submodule "libraries/drivers/sh1106"]
	path = libraries/drivers/sh1106
	url = https://github.com/winneymj/CircuitPython_SH1106
[submodule "libraries/drivers/slight_tlc5957"]
	path = libraries/drivers/slight_tlc5957
	url = https://github.com/s-light/slight_CircuitPython_TLC5957.git
[submodule "libraries/drivers/tmp75"]
	path = libraries/drivers/tmp75
	url = https://github.com/barbudor/CircuitPython_TMP75.git
[submodule "libraries/drivers/ina3221"]
	path = libraries/drivers/ina3221
	url = https://github.com/barbudor/CircuitPython_INA3221.git
[submodule "libraries/drivers/qwiicjoystick"]
	path = libraries/drivers/qwiicjoystick
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicJoystick.git
[submodule "libraries/drivers/qwiicrelay"]
	path = libraries/drivers/qwiicrelay
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicRelay.git
[submodule "libraries/drivers/qwiictwist"]
	path = libraries/drivers/qwiictwist
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicTwist.git
[submodule "libraries/drivers/qwiickeypad"]
	path = libraries/drivers/qwiickeypad
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicKeypad
[submodule "libraries/drivers/qwiicas3935"]
	path = libraries/drivers/qwiicas3935
	url = https://github.com/fourstix/Sparkfun_CircuitPython_QwiicAS3935.git
[submodule "libraries/drivers/lis2dh12"]
	path = libraries/drivers/lis2dh12
	url = https://github.com/electronut/Electronutlabs_CircuitPython_LIS2DH12.git
[submodule "libraries/drivers/ltr329als01"]
	path = libraries/drivers/ltr329als01
	url = https://github.com/electronut/Electronutlabs_CircuitPython_LTR329ALS01.git
[submodule "libraries/drivers/ili9163"]
	path = libraries/drivers/ili9163
	url = https://github.com/electronut/Electronutlabs_CircuitPython_ILI9163
[submodule "libraries/drivers/serlcd"]
	path = libraries/drivers/serlcd
	url = https://github.com/fourstix/Sparkfun_CircuitPython_SerLCD.git
[submodule "libraries/helpers/ifttt"]
	path = libraries/helpers/ifttt
	url = https://github.com/benevpi/CIRCUITPYTHON_ifttt.git
[submodule "libraries/drivers/nrf24l01"]
	path = libraries/drivers/nrf24l01
	url = https://github.com/2bndy5/CircuitPython_nRF24L01.git
[submodule "libraries/drivers/i2cencoderlibv21"]
	path = libraries/drivers/i2cencoderlibv21
	url = https://github.com/bwshockley/CircuitPython-i2cEncoderLibV21.git
[submodule "libraries/drivers/mitutoyo"]
	path = libraries/drivers/mitutoyo
	url = https://github.com/vifino/CircuitPython-mitutoyo.git
[submodule "libraries/helpers/base64"]
	path = libraries/helpers/base64
	url = https://github.com/jimbobbennett/CircuitPython_Base64
[submodule "libraries/helpers/HMAC"]
	path = libraries/helpers/HMAC
	url = https://github.com/jimbobbennett/CircuitPython_HMAC
[submodule "libraries/helpers/parse"]
	path = libraries/helpers/parse
	url = https://github.com/jimbobbennett/CircuitPython_Parse
[submodule "libraries/helpers/AzureCustomVision_Prediction"]
	path = libraries/helpers/AzureCustomVision_Prediction
	url = https://github.com/jimbobbennett/CircuitPython_AzureCustomVision_Prediction
[submodule "libraries/helpers/gamblor21_ahrs"]
	path = libraries/helpers/gamblor21_ahrs
	url = https://github.com/gamblor21/Gamblor21_CircuitPython_AHRS.git
[submodule "libraries/drivers/dynamixel"]
	path = libraries/drivers/dynamixel
	url = https://github.com/hierophect/Hierophect_Circuitpython_Dynamixel.git
[submodule "libraries/drivers/ltr559"]
	path = libraries/drivers/ltr559
	url = https://github.com/pimoroni/Pimoroni_CircuitPython_LTR559.git
[submodule "libraries/helpers/udecimal"]
	path = libraries/helpers/udecimal
	url = https://github.com/jepler/Jepler_CircuitPython_udecimal.git
[submodule "libraries/helpers/discordbot"]
	path = libraries/helpers/discordbot
	url = https://github.com/2231puppy/CircuitPython_DiscordBot.git
[submodule "libraries/drivers/mics6814"]
	path = libraries/drivers/mics6814
	url = https://github.com/pimoroni/Pimoroni_CircuitPython_MICS6814.git
[submodule "libraries/helpers/circuitpython_display_frame"]
	path = libraries/helpers/circuitpython_display_frame
	url = https://github.com/FoamyGuy/CircuitPython_Display_Frame.git
[submodule "libraries/drivers/at42qt1070"]
	path = libraries/drivers/at42qt1070
	url = https://github.com/skerr92/at42qt-acorn-python.git
[submodule "libraries/drivers/wiichuck"]
	path = libraries/drivers/wiichuck
	url = https://github.com/jfurcean/CircuitPython_WiiChuck.git
[submodule "libraries/drivers/as3935"]
	path = libraries/drivers/as3935
	url = https://github.com/BiffoBear/CircuitPython_AS3935.git
[submodule "libraries/drivers/bteve"]
	path = libraries/drivers/bteve
	url = https://github.com/jamesbowman/CircuitPython_bteve.git
[submodule "libraries/drivers/gc9a01"]
	path = libraries/drivers/gc9a01
	url = https://github.com/tylercrumpton/CircuitPython_GC9A01.git
[submodule "libraries/helpers/PiperBlocklyLibrary"]
	path = libraries/helpers/PiperBlocklyLibrary
	url = https://github.com/buildwithpiper/PiperBlocklyLibrary.git
[submodule "libraries/helpers/arrowline"]
	path = libraries/helpers/arrowline
	url = https://github.com/jposada202020/CircuitPython_ArrowLine.git
[submodule "libraries/helpers/candlesticks"]
	path = libraries/helpers/candlesticks
	url = https://github.com/jposada202020/CircuitPython_Candlesticks.git
[submodule "libraries/helpers/schedule"]
	path = libraries/helpers/schedule
	url = https://github.com/cognitivegears/CircuitPython_Schedule.git
[submodule "libraries/helpers/morsecode"]
	path = libraries/helpers/morsecode
	url = https://github.com/jposada202020/CircuitPython_MorseCode.git
[submodule "libraries/drivers/tca9555"]
	path = libraries/drivers/tca9555
	url = https://github.com/lesamouraipourpre/Community_CircuitPython_TCA9555.git
[submodule "libraries/helpers/styles"]
	path = libraries/helpers/styles
	url = https://github.com/jposada202020/CircuitPython_styles
[submodule "libraries/drivers/74hc165"]
	path = libraries/drivers/74hc165
	url = https://github.com/WoolseyWorkshop/WoolseyWorkshop_CircuitPython_74HC165.git
[submodule "libraries/drivers/trellism4_extended"]
	path = libraries/drivers/trellism4_extended
	url = https://github.com/arofarn/CircuitPython_TrellisM4_extended.git
[submodule "libraries/drivers/i2c_button"]
	path = libraries/drivers/i2c_button
	url = https://github.com/gmparis/CircuitPython_I2C_Button.git
[submodule "libraries/drivers/bluepad32"]
	path = libraries/drivers/bluepad32
	url = https://github.com/ricardoquesada/bluepad32-circuitpython.git
[submodule "libraries/helpers/asynccp"]
	path = libraries/helpers/asynccp
	url = https://github.com/WarriorOfWire/CircuitPython_async.git
[submodule "libraries/helpers/csv"]
	path = libraries/helpers/csv
	url = https://github.com/tekktrik/CircuitPython_CSV.git
[submodule "libraries/helpers/nvm_helper"]
	path = libraries/helpers/nvm_helper
	url = https://github.com/FoamyGuy/Foamyguy_CircuitPython_nvm_helper.git
[submodule "libraries/helpers/ansi_escape_code"]
	path = libraries/helpers/ansi_escape_code
	url = https://github.com/s-light/CircuitPython_ansi_escape_code.git
[submodule "libraries/helpers/nonblocking_serialinput"]
	path = libraries/helpers/nonblocking_serialinput
	url = https://github.com/s-light/CircuitPython_nonblocking_serialinput.git
[submodule "libraries/helpers/functools"]
	path = libraries/helpers/functools
	url = https://github.com/tekktrik/CircuitPython_functools.git
[submodule "libraries/drivers/ticstepper"]
	path = libraries/drivers/ticstepper
	url = https://github.com/tekktrik/CircuitPython_TicStepper.git
[submodule "libraries/drivers/bbq10keyboard"]
	path = libraries/drivers/bbq10keyboard
	url = https://github.com/solderparty/arturo182_CircuitPython_BBQ10Keyboard.git
[submodule "libraries/drivers/nau7802"]
	path = libraries/drivers/nau7802
	url = https://github.com/CedarGroveStudios/CircuitPython_NAU7802.git
[submodule "libraries/drivers/hx711"]
	path = libraries/drivers/hx711
	url = https://github.com/fivesixzero/CircuitPython_HX711.git
[submodule "libraries/helpers/tzdb"]
	path = libraries/helpers/tzdb
	url = https://github.com/evindunn/circuitpython_tzdb.git
[submodule "libraries/drivers/lcd1602"]
	path = libraries/drivers/lcd1602
	url = https://github.com/Neradoc/Circuitpython_Waveshare_LCD1602.git
[submodule "libraries/drivers/qwiicquadsolidstaterelay"]
	path = libraries/drivers/qwiicquadsolidstaterelay
	url = https://github.com/gbeland/CircuitPython_Sparkfun_QwiicQuadSolidStateRelay.git
[submodule "libraries/helpers/palettefader"]
	path = libraries/helpers/palettefader
	url = https://github.com/CedarGroveStudios/CircuitPython_PaletteFader.git
[submodule "libraries/drivers/drv8830"]
	path = libraries/drivers/drv8830
	url = https://github.com/CedarGroveStudios/CircuitPython_DRV8830.git
[submodule "libraries/helpers/rangeslicer"]
	path = libraries/helpers/rangeslicer
	url = https://github.com/CedarGroveStudios/CircuitPython_RangeSlicer.git
[submodule "libraries/helpers/palettefilter"]
	path = libraries/helpers/palettefilter
	url = https://github.com/Cedargrovestudios/circuitpython_paletteFilter.git
[submodule "libraries/drivers/rda5807"]
	path = libraries/drivers/rda5807
	url = https://github.com/tinkeringtech/CircuitPython_rda5807.git
